{% extends "base.html" %}

{% block content %}
    <h1>Vehicle for Sale</h1>
    <table class = "table table-dark table-stripped">
        <caption>Latest Vehicle</caption>
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Transmission</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.brand }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.year }}</td>
            <td>{{ vehicle.transmission }}</td> 
            <td>
                <a href="{% url 'vehicle_detail' pk=vehicle.id %}">view details</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}