{% extends "base.html" %}

{% block content %}
<h1>{{ vehicle.brand }}{{ vehicle.model }} ({{ vehicle.year }})</h1>
<img src="{{ vehicle.photo.url }}" alt="" height="840px" width="1140px" >
<h5>
    Makina qe keni zgjedhur eshte {{vehicle.brand}} e modelit {{vehicle.model}} e vitit {{vehicle.year}}
</h5>
<p>Transmission: {{vehicle.transmission }}</p>
<p>
    <a href="{% url 'vehicle_list' %}">Go back to listing</a>
</p>
{% endblock content %}